<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/home.css">
<script src="/scripts/script.js"></script>

<title>Audio Recording</title>
</head>
<body>
<div id="app">
  <div id="gifContainer">  
    <img src="https://i.pinimg.com/originals/93/2f/d0/932fd00d9b43753061c47739f0cc777b.gif" alt="Embedded GIF">
  </div>
  <div id="controls">
    <button id="startRecording">Start Recording</button>
    <button id="stopRecording" disabled>Stop Recording</button>
    <button id="sendRecording" disabled>Send Recording</button>
  </div>
</div>
<div id="audioContainer">    
</div>
</body>
</html>
