<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/home.css">
<title>Audio Recording</title>
</head>
<body>
<div id="app">
  <h1>Ask something about me</h1>
  <div id="gifContainer">  
    <img src="/images/audiowave.gif" style="display: none;" alt="Audio wave">
  </div> 
  <div id="controls">
    <button id="startRecording">
      <img src="/images/mic.png" id="mic_icon" alt="microphone icon" width="80" height="80">
    </button>
    <button id="stopRecording" class="hiden">
      <img src="/images/stop.png" alt="stop button icon" width="80" height="80">
    </button>
  </div>
</div>
<div id="audioContainer">    
</div>
<script src="/scripts/script.js"></script>
</body>
</html>
