<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/home.css">
<title>Audio Recording</title>
</head>
<body>
<div id="app">
  <video autoplay muted id="backgroundVideo">
    <source src="/images/background_desktop.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div id="gifContainer">  
    <img src="/images/clonegif.gif" style="display: none;" alt="Audio wave">
    <p id="thinking_gif" style="display: none;">I am thinking...</p>
  </div> 
  <div id="controls">
    <button id="startRecording">
      <img src="/images/mic.svg" id="mic_icon" alt="microphone icon" width="80" height="80">
    </button>
    <button id="stopRecording">
      <img src="/images/stop.svg" alt="stop button icon" width="80" height="80">
    </button>
  </div>
</div>
<div id="audioContainer">    
</div>
<script src="/scripts/script.js"></script>
</body>
</html>
