body {
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
  }

  #backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
  }  
  
  #gifContainer img {
    width: 50%;
    opacity: 0.85; 
  }


  /* CONTROLS SECTION */
  #controls {
    margin-top: 74vh;
    margin-left: 160px;
  }

  #startRecording img, #stopRecording img{
    width: 50px;
  }

  button, #recording_audio_gif {
    background: transparent;
    border-style: none;
  }

  .hiden{
    visibility: hidden;
  }

  /* REVIEW THIS CLASS: */
  .disable, svg:hover {
    filter: brightness(0.5);
   }


   @media only screen and (max-width: 600px) {
    /* MOBILES */
  }